# Ignore everything
*

# Allow directories to be traversed
!*/

# Allow specific file types and root files
!astrai/**/*.py
!scripts/**/*.py
!tests/**/*.py
!examples/rl_reward/*.py
!examples/rl_reward/README.md
!examples/rl_reward/*.yaml
!csrc/**/*.py
!csrc/CMakeLists.txt

!csrc/**/*.cu
!csrc/**/*.cpp
!csrc/**/*.cmake
!csrc/**/*.h
!csrc/**/*.cuh

!scripts/**/*.sh

# Allow GitHub files
!/.github/**

# Allow root files
!/.gitattributes
!/.dockerignore
!/Dockerfile
!/docker-compose.yml
!/docs/**
!/CONTRIBUTING.md
!/LICENSE
!/pyproject.toml
!/README.md
# Allow extension modules (only source .py)
!/astrai/extension/**/*.py

# Allow build files
!/setup.py
